<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %> | EMS - PORSENI
    </title>

    <!-- Icon -->
    <link rel="icon" href="/favicon.png" sizes="512x512" />
    <!-- Style -->
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <!--  Header  -->
    <header>
        <nav class="navbar navbar-expand-md py-4 rounded-bottom shadow">
            <div class="container-fluid px-5">
                <span class="navbar-brand-sm">
                    <img src="/Horizontal Logo.png" class="img" alt="Logo Brand" style="width: 15vw;">
                </span>

                <div class="row justify-content-end">
                    <div class="col-8 text-end">
                        <div class="row">
                            <p class="title fw-bold">Person name</p>
                        </div>
                        <div class="row">
                            <a href="#">Logout</a>
                        </div>
                    </div>
                    <div class="col-2 align-content-center">
                        <img src="/Profile Icon.png" class="img-fluid" alt="Logo Brand" style="width: 15vw;">
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container my-5">
            <div class="row align-content-center">
                <div class="col ">
                    <div class="row text-bg-dark p-4  my-5 rounded">
                        <h1 class="fw-bold fs-3 text-center text-primary">Basketball Registration</h1>
                    </div>
                </div>
            </div>

            <div class="container my-5">
                <div class="row align-content-center ">
                    <div class="col">
                        <div class="row text-bg-dark p-4 rounded">
                            <h3 class="fw-bold  text-primary text-center my-5">Ringkasan Pendaftaran</h3>

                            <h5 class="fw-bold  text-primary">General Information</h5>
                            <hr>
                            <table class="table table-borderless fs-5">
                                <tr>
                                    <td class="fw-bold">ID Pendaftaran</td>
                                    <td class="fw-bold">Waktu Pendaftaran</td>
                                </tr>
                                <tr>
                                    <td>1897213573</td>
                                    <td>18/02/2008</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Jenjang Sekolah</td>
                                    <td class="fw-bold">Asal Sekolah</td>
                                </tr>
                                <tr>
                                    <td>Sekolah Menengah Pertama / SLTP</td>
                                    <td>SMPN 25 Bandar Lampung</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Nama Pelatih</td>
                                    <td class="fw-bold">Kategori Tim</td>
                                </tr>
                                <tr>
                                    <td>Benyamin Busuari</td>
                                    <td>Putra</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Nama Official</td>
                                    <td class="fw-bold">No Telp Tim</td>
                                </tr>
                                <tr>
                                    <td>Benyamin Busuari</td>
                                    <td>0896123571</td>
                                </tr>
                            </table>

                            <h5 class="fw-bold  text-primary mt-4">Captain Information</h5>
                            <hr>
                            <table class="table table-borderless  fs-5">
                                <tr>
                                    <td class="fw-bold">Nama Lengkap Peserta</td>
                                    <td class="fw-bold">No Punggung Peserta</td>
                                    <td rowspan="4" class="align-middle align-center" align="center"><img src="/Sample Image.png" width="200px"></td>
                                </tr>
                                <tr>
                                    <td>Budi Sucapmiko</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold" colspan="2">Alamat Peserta</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Jl. Dr Cipto Mangunkusumo Gang Rajawali Bandar Lampung Lampung Indonesia</td>
                                </tr>
                            </table>

                            <h5 class="fw-bold  text-primary mt-4">Team Member 1 Information</h5>
                            <hr>
                            <table class="table table-borderless  fs-5">
                                <tr>
                                    <td class="fw-bold">Nama Lengkap Peserta</td>
                                    <td class="fw-bold">No Punggung Peserta</td>
                                    <td rowspan="4" class="align-middle align-center" align="center"><img src="/Sample Image.png" width="200px"></td>
                                </tr>
                                <tr>
                                    <td>Budi Sucapmiko</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold" colspan="2">Alamat Peserta</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Jl. Dr Cipto Mangunkusumo Gang Rajawali Bandar Lampung Lampung Indonesia</td>
                                </tr>
                            </table>

                            <h5 class="fw-bold  text-primary mt-4">Team Member 2 Information</h5>
                            <hr>
                            <table class="table table-borderless  fs-5">
                                <tr>
                                    <td class="fw-bold">Nama Lengkap Peserta</td>
                                    <td class="fw-bold">No Punggung Peserta</td>
                                    <td rowspan="4" class="align-middle align-center" align="center"><img src="/Sample Image.png" width="200px"></td>
                                </tr>
                                <tr>
                                    <td>Budi Sucapmiko</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold" colspan="2">Alamat Peserta</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Jl. Dr Cipto Mangunkusumo Gang Rajawali Bandar Lampung Lampung Indonesia</td>
                                </tr>
                            </table>

                            <h5 class="fw-bold  text-primary mt-4">Team Member 3 Information</h5>
                            <hr>
                            <table class="table table-borderless  fs-5">
                                <tr>
                                    <td class="fw-bold">Nama Lengkap Peserta</td>
                                    <td class="fw-bold">No Punggung Peserta</td>
                                    <td rowspan="4" class="align-middle align-center" align="center"><img src="/Sample Image.png" width="200px"></td>
                                </tr>
                                <tr>
                                    <td>Budi Sucapmiko</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold" colspan="2">Alamat Peserta</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Jl. Dr Cipto Mangunkusumo Gang Rajawali Bandar Lampung Lampung Indonesia</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                

                <div class="row mt-5 text-center">
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary fw-bold ">Download Bukti Pendaftaran</button>
                    </div>
                </div>

            </div>
    </main>
</body>

</html>